<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Ana</string>
		<key>icon</key>
		<string>Ana.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>D.VA</string>
		<key>icon</key>
		<string>D.Va.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Genji</string>
		<key>icon</key>
		<string>Genji.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hanzo</string>
		<key>icon</key>
		<string>Hanzo.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lucio</string>
		<key>icon</key>
		<string>Lucio.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mei</string>
		<key>icon</key>
		<string>Mei.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mercy</string>
		<key>icon</key>
		<string>Mercy.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Moira</string>
		<key>icon</key>
		<string>Moira.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pharah</string>
		<key>icon</key>
		<string>Pharah.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Reaper</string>
		<key>icon</key>
		<string>Reaper.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zarya</string>
		<key>icon</key>
		<string>Zarya.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wrecking Ball</string>
		<key>icon</key>
		<string>Wrecking_Ball.png</string>
	</dict>
</array>
</plist>
